p {
    margin: 0;
}



.bg-m {
    margin-left: 100px;
    margin-top: 100px;
}




button {
    box-shadow: 3px 3px 8px yellow;
    background-color: yellow;
    border: none;
    padding: 3;

}

button:hover {
    background-color: gold;
}

.cheese-stock {
    width: 250px;
    height: 400px;
    object-fit: contain;
}


.shield {
    text-align: end;
}

.rate {
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.light {
    color: white;
}

.sign-m {
    margin-left: 1px;
    margin-right: 1px;
}

.more-info {
    margin-bottom: 15px;
}



.month-sign {
    margin-left: 50px;

}

.font-mont {
    font-family: 'Montserrat';
}

.backdrop {
    color: white;
    padding: 1em;
    border-radius: 6px;
    background-color: rgba(80, 80, 80, .8);
    backdrop-filter: blur(10px);
}

.bg-backdrop {
    color: white;
    padding: 1em;
    border-radius: 6px;
    background-color: rgba(80, 80, 80, .8);
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
}

@media(min-width:768px) {
    .bg-service {
        position: absolute;
        bottom: -50px;
        right: 75px;
    }

    .bg-box {
        position: relative;
    }

    .bg-pic {
        background-image: url('https://images.unsplash.com/photo-1618164436241-4473940d1f5c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGNoZWVzZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60');
        background-position: center;
        background-size: cover;
    }

    .bg-l {
        margin: 50px;
    }

    .small-title {
        margin-top: 55px;
    }

    .line-text {
        text-align: end;
    }

    .bg-mar {
        margin: 70px;
    }



}

@media(max-width:768px) {
    .block-cheese {
        text-align: center;
    }

    .review {
        text-align: center;
        padding: 5;
    }

    .spacer {
        padding: 4;
        margin-top: 3;
    }

    .get-big {
        padding: 20px;
    }

    .star {
        justify-content: center;
        justify-content: space-around;
    }

    .color-switch {
        color: gold;
    }
}